mixin linkMassagers
	//- вотсап
	a(href="https://wa.me/+79292690013").numder_futer
		svg( viewBox='0 0 41 41'  xmlns='http://www.w3.org/2000/svg')
			path(fill-rule='evenodd' clip-rule='evenodd' d='M20.5074 0C9.46169 0 0.34375 9.06102 0.34375 20.1067C0.34375 31.1524 9.46169 40.2134 20.5074 40.2134C31.5531 40.2134 40.671 31.1524 40.671 20.1067C40.671 9.06102 31.5531 0 20.5074 0ZM20.5069 32.6022C27.4079 32.6022 33.0022 27.0079 33.0022 20.1069C33.0022 13.206 27.4079 7.61172 20.5069 7.61172C13.606 7.61172 8.01172 13.206 8.01172 20.1069C8.01172 22.6503 8.77161 25.0162 10.0768 26.99L8.55268 32.6022L14.0065 30.7803C15.9004 31.9362 18.1259 32.6022 20.5069 32.6022ZM18.872 17.6704L17.5426 19.3019C18.1469 21.3565 21.0389 22.9812 21.871 23.1785C22.2399 22.6809 23.1012 21.6652 23.5953 21.5828C24.213 21.4799 26.78 23.7964 26.6516 24.0773C26.2273 25.0051 24.9851 26.344 22.2571 25.5462C19.529 24.7484 14.8965 20.2192 14.4333 18.1603C13.97 16.1014 15.7458 14.3254 16.5694 14.4283C17.2282 14.5107 19.2043 17.3985 18.872 17.6704Z')
	//- вайбер
	a(href="viber://chat?number=+79292690013").numder_futer
		svg( viewBox='0 0 41 42' xmlns='http://www.w3.org/2000/svg' shape-rendering="geometricPrecision")
			path(fill-rule='evenodd' clip-rule='evenodd' d='M20.8355 0.893066C9.78981 0.893066 0.671875 9.95409 0.671875 20.9998C0.671875 32.0455 9.78981 41.1065 20.8355 41.1065C31.8812 41.1065 40.9991 32.0455 40.9991 20.9998C40.9991 9.95409 31.8812 0.893066 20.8355 0.893066ZM8.97852 16.8551C8.97852 12.8778 11.8995 9.48215 15.862 9.14014C17.5702 8.99271 19.3391 8.88376 20.8365 8.88376C22.3339 8.88376 24.1027 8.9927 25.8109 9.14013C29.7734 9.48214 32.6944 12.8778 32.6944 16.855V22.5758C32.6944 26.9941 29.1126 30.5758 24.6944 30.5758H18.9876L15.3382 34.2252C15.0232 34.5402 14.4846 34.3171 14.4846 33.8717V30.5758C11.22 29.6146 8.97852 26.6181 8.97852 23.2149L8.97852 16.8551ZM25.518 14.5595C24.0964 13.3367 22.083 12.881 20.2088 13.2831C19.9388 13.3411 19.673 13.1691 19.6151 12.8991C19.5571 12.6291 19.729 12.3633 19.999 12.3054C22.1534 11.8431 24.4921 12.358 26.1701 13.8014C27.866 15.2602 28.8363 17.6226 28.3204 20.7354C28.2752 21.0078 28.0178 21.192 27.7453 21.1469C27.4729 21.1017 27.2887 20.8443 27.3338 20.5719C27.7988 17.7665 26.9218 15.7671 25.518 14.5595ZM20.2088 15.5318C21.451 15.2653 22.7815 15.5687 23.7169 16.3733C24.6344 17.1625 25.2215 18.4776 24.9104 20.3544C24.8653 20.6269 25.0495 20.8843 25.3219 20.9295C25.5944 20.9746 25.8518 20.7904 25.897 20.5179C26.259 18.3337 25.5785 16.6556 24.369 15.6152C23.1773 14.5901 21.5213 14.2274 19.999 14.5541C19.729 14.612 19.5571 14.8779 19.6151 15.1479C19.673 15.4179 19.9388 15.5898 20.2088 15.5318ZM20.3741 17.8374C21.0254 17.6977 21.7177 17.8587 22.1984 18.2722C22.6613 18.6704 22.9776 19.3458 22.8103 20.3547C22.7652 20.6271 22.9494 20.8845 23.2218 20.9297C23.4943 20.9748 23.7517 20.7906 23.7969 20.5182C24.0151 19.2019 23.6055 18.1635 22.8505 17.5141C22.1134 16.8801 21.0958 16.6598 20.1643 16.8597C19.8943 16.9176 19.7224 17.1834 19.7803 17.4534C19.8383 17.7234 20.1041 17.8953 20.3741 17.8374ZM16.6835 19.6839C17.2805 19.2329 18.4308 18.2359 18.2553 17.8558C18.036 17.3807 16.1718 14.7489 15.4772 14.6392C14.7827 14.5296 13.2109 15.6819 13.2109 16.9423C13.2109 18.5868 17.7801 24.6184 22.7879 27.433C23.5464 27.8593 25.4344 26.5265 25.4929 25.5322C25.566 24.2894 22.8245 22.1328 22.4589 22.4617C22.1665 22.7249 21.2283 23.5218 20.6678 23.9604C19.9368 23.5463 18.1164 22.1113 16.6835 19.6839Z')

	//- телега
	a(href="https://t.me/PulscenKC").numder_futer 
		svg( viewBox='0 0 40 41'  xmlns='http://www.w3.org/2000/svg')
			path(fill-rule='evenodd' clip-rule='evenodd' d='M20 0.226562C8.95431 0.226562 0 9.18087 0 20.2266C0 31.2723 8.95431 40.2266 20 40.2266C31.0457 40.2266 40 31.2723 40 20.2266C40 9.18087 31.0457 0.226562 20 0.226562ZM29.5673 10.2148L6.15039 20.0939L12.6449 22.1977L25.3596 14.8771L16.3038 24.1186L16.3393 24.1469L15.4805 24.7589L14.9316 30.3388L18.3812 25.7764L25.3596 31.345L29.5673 10.2148Z')




//- -var cell = "{crm_analytics:click_link(Позвоните мне,#order,network_actions,НК_РФ_Консультация_010322)}"
-var cell = "Позвоните мне"


mixin modal(identifier, city)
	.modal-wrapper
		.modal-wrapper-block(data-popup=identifier)
			.modal-block
				img.modal-close(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/195450/content_union_3.png")
				.claster__city(class=city)

- var dev = true

mixin button(textButton, textButtonDev, style)
	if dev == true
		.button.feedback-js.weight_600.ab-order.js-apress-order-button.js-orders-callback-link(class=style data-button-type="order_callback" data-company="99572059 " data-company-id="99572059 " data-company-name="Пульс цен Онлайн" data-company-name-rest="" data-company-url="https://help.pulscen.ru/" data-params='{"company_id":"99572059 "}' data-statistics="1" data-type="callback")=textButton
	else 
		.button.feedback-js.weight_600.ab-order.js-apress-order-button.js-orders-callback-link(class=style data-button-type="order_callback" data-company="99572059 " data-company-id="99572059 " data-company-name="Пульс цен Онлайн" data-company-name-rest="" data-company-url="https://help.pulscen.ru/" data-params='{"company_id":"99572059 "}' data-statistics="1" data-type="callback")=textButtonDev
	



mixin buttonEvent(textButton,textButtonDev, style, id, modal)
	if dev == true
		.button(class=style id=id rel=modal)=textButton
	else 
		.button(class=style id=id rel=modal)=textButtonDev



mixin buttonLink(textButton,textButtonDev, style, id)
	if dev == true
		a.button(class=style href='id')=textButton
	else
		.button(class=style)=textButtonDev



-var cell = "{crm_analytics:click_link(Позвоните мне,#order,network_actions,НК_Оставить_товары_Консультация_curData)}"
//- -var cell = "Позвоните мне"


mixin modal(identifier, city)
	.modal-wrapper
		.modal-wrapper-block(data-popup=identifier)
			.modal-block
				img.modal-close(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/195450/content_union_3.png")
				.claster__city(class=city)

- var dev = true

mixin button(textButton, textButtonDev, style)
	if dev == true
		.button.feedback-js.weight_600.ab-order.js-apress-order-button.js-orders-callback-link(class=style data-button-type="order_callback" data-company="99572059 " data-company-id="99572059 " data-company-name="Пульс цен Онлайн" data-company-name-rest="" data-company-url="https://help.pulscen.ru/" data-params='{"company_id":"99572059 "}' data-statistics="1" data-type="callback")=textButton
	else 
		.button.feedback-js.weight_600.ab-order.js-apress-order-button.js-orders-callback-link(class=style data-button-type="order_callback" data-company="99572059 " data-company-id="99572059 " data-company-name="Пульс цен Онлайн" data-company-name-rest="" data-company-url="https://help.pulscen.ru/" data-params='{"company_id":"99572059 "}' data-statistics="1" data-type="callback")=textButtonDev
	



mixin buttonEvent(textButton,textButtonDev, style, id, modal)
	if dev == true
		.button(class=style id=id rel=modal)=textButton
	else 
		.button(class=style id=id rel=modal)=textButtonDev



mixin buttonLink(textButton,textButtonDev, style, id)
	if dev == true
		a.button(class=style href=id)=textButton
	else
		.button(class=style)=textButtonDev